.member .ourMember ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.member .ourMember ul li{
    background-color: #00000011;
    margin: 10px;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.member .ourMember ul li img{
    width: 20%;
    background-color: #dddddd;
}
.member .ourMember ul li .designation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 5px;
}
.member .ourMember ul li .designation p:nth-of-type(1){color: var(--third);font-size: large;font-weight: 700;}

.member .ourMember ul li.newMember{
    display: block;
    padding: 15px;
}

.member .newMember{
    text-align: left;
    margin: 50px;
}

@media screen and (max-width: 768px){
    .member .ourMember ul li.newMember{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .member .ourMember ul li.newMember button{
        background-color: var(--third);
        color: var(--first);
        width: 30vw;
        height: 5vh;
        border-radius: 20px;
    }
    .member div.newMember{
        margin: 30px;
    }
}