.objective .aboutUs, .list{text-align: left;padding: 0px 30px;}
.objective .aboutUs{flex-direction: column;}
.objective .aboutUs p{text-align: center;}
.objective h1, .objective h2{margin: 20px 0px;padding: 0 !important;}
.certificates{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10fr 1fr;
    gap: 2px;
    column-gap: 30px;
    margin: 40px 0px;
}
.certificates img{height: 1000px;aspect-ratio: 0.6;}
.certificates p{padding: 10px;}
.certificates p:nth-of-type(2){grid-column: span 2;}

.list *:not(h2){margin: 20px 0px;}
.list{margin: 40px 0px;}
ol{list-style:decimal;}

@media screen and (max-width: 768px){
    .certificates {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6fr 1fr 6fr 6fr 1fr;
        grid-template-areas: 
            "c1"
            "p1"
            "c2"
            "c3"
            "p2";
        gap: 10px; /* Adjust the gap as needed */
    }
    
    .certificates .c1 {
        grid-area: c1;
    }
    
    .certificates .c2 {
        grid-area: c2;
    }
    
    .certificates .c3 {
        grid-area: c3;
    }
    
    .certificates p:nth-of-type(1) {
        grid-area: p1;
    }
    
    .certificates p:nth-of-type(2) {
        grid-area: p2;
    }
    
    .certificates img {
        max-width: 100%; /* Ensure images are responsive */
        height: auto;
    }
    .list{font-size: small;}
}